<!DOCTYPE html>
<head>
   <meta charset="UTF-8" />

        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="css/local.css" />
    
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
        <script type="text/javascript" src="http://prepbootstrap.com/Content/js/gridData.js"></script>
</head>
<body>
   <div id="wrapper">
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="page-home">Web & VR hybrid</a>
         </div>
         <div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul id="active" class="nav navbar-nav side-nav">
              <li><a href="page-home"><i class="fa fa-home"></i> HOME</a></li>
              <li><a href="page-intro"><i class="fa fa-globe"></i> 소개</a></li>
              <li><a href="page-prestudy1"><i class="fa fa-pencil"></i> 사전학습</a></li>
              <li><a href="page-study-prepare"><i class="fa fa-book"></i> &nbsp;학습하기</a></li>
              <li><a href="page-pre-quiz"><i class="fa fa-check"></i> &nbsp;퀴즈</a></li>
              <li><a href="page-chart"><i class="fa fa-area-chart"></i>&nbsp; 학습현황</a></li>
              <li><a href="page-board"><i class="fa fa-clipboard"></i>&nbsp;&nbsp;게시판</a></li>
              <li><a href="page-chatting"><i class="fa fa-comments"></i>&nbsp;&nbsp;커뮤니티</a></li>
              <li><a href="page-support"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;학습지원</a></li>
           </ul>
              <ul class="nav navbar-nav navbar-right navbar-user">

                <li>
                    <form class="navbar-search">
                        <% if(name=="null" ){%>
                    <form >
                        <button type="button" class="btn btn-primary" onclick="location.href='login' ">login</button>
                    </form><% } %>
                </li>

                
                <li class="divider-vertical"></li>
                <% if(name!="null"){%>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= name %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><br><center><img src="img/user.png" style="width:100px; height:100px;"></center><br>
                            <li><a href="page-mypage"><i class="fa fa-user"></i> 마이페이지</a></li>
                            <li class="divider"></li>
                            <li><a href=page-logout><i class="fa fa-power-off"></i> 로그아웃</a></li>

                    </ul>
                </li><% } %>
                </ul>
            </div>
        </nav> <!-- end of navigation bar and index-->


<!--<button type="button" onclick="location.href='beaker.html' " >페놀프탈레인 용액 떨어뜨리기</button>-->
    <br>
    <h2 align="center">금속넣기</h2>
    <div align="center">
    <iframe src="insert-page-test2" name="beaker" scrolling="no" frameborder="0" width="700" height="600"></iframe></div>
    <h4 align="center">금속 조각을 페놀프탈레인 용액을 떨어트린 물에 넣습니다</h4><br><br><br>
    <div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='page-study-test3' ">금속을 넣은 후</button>
    </div>


</body>
<html>