
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web & VR Hybrid</title>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/local.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>   
</head>
<body>

    <div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="page-home">Web & VR hybrid</a>
         </div>
         <div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul id="active" class="nav navbar-nav side-nav">
              <li><a href="page-home"><i class="fa fa-home"></i> HOME</a></li>
              <li><a href="page-intro"><i class="fa fa-globe"></i> 소개</a></li>
              <li><a href="page-prestudy1"><i class="fa fa-pencil"></i> 사전학습</a></li>
              <li><a href="page-study-prepare"><i class="fa fa-book"></i> &nbsp;학습하기</a></li>
              <li><a href="page-pre-quiz"><i class="fa fa-check"></i> &nbsp;퀴즈</a></li>
              <li><a href="page-chart"><i class="fa fa-area-chart"></i>&nbsp; 학습현황</a></li>
              <li><a href="page-board"><i class="fa fa-clipboard"></i>&nbsp;&nbsp;게시판</a></li>
              <li><a href="page-chatting"><i class="fa fa-comments"></i>&nbsp;&nbsp;커뮤니티</a></li>
              <li><a href="page-support"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;학습지원</a></li>
           </ul>
              <ul class="nav navbar-nav navbar-right navbar-user">

                <li>
                    <form class="navbar-search">
                        <% if(name=="null" ){%>
                    <form >
                        <button type="button" class="btn btn-primary" onclick="location.href='login' ">login</button>
                    </form><% } %>
                </li>

                
                <li class="divider-vertical"></li>
                <% if(name!="null"){%>
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= name %><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><br><center><img src="img/user.png" style="width:100px; height:100px;"></center><br>
                            <li><a href="page-mypage"><i class="fa fa-user"></i> 마이페이지</a></li>
                            <li class="divider"></li>
                            <li><a href=page-logout><i class="fa fa-power-off"></i> 로그아웃</a></li>

                    </ul>
                </li><% } %>
			  </ul>
          </div>
        
	  </nav> <!-- end of navigation bar and index-->

       <div class="container">
            <div class="row">
               
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>[알칼리 금속의 공기 중 변화]</h2>
                            <p> </p>
                            <p>칼을 이용하여 금속의 단면을 잘라 단단한 정도를 느껴보고 단면의 변화를 살펴본다.</p>
                            <p>(실험 결과) : 리튬, 나트륨, 칼륨 모두 단면이 은백색 광택을 띠다가 서서히 광택을 잃으며 회색으로 변한다.</p>
                            
                            
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        
                            <p>
                              <a href="page-study-lithium"><button type="button" class="btn btn-primary btn-lg">Lithium</button></a>
                              <a href="page-study-natrium"><button type="button" class="btn btn-primary btn-lg">Natrium</button></a>
                              <a href="page-study-kalium"><button type="button" class="btn btn-primary btn-lg">Kalium</button></a>
                            </p>
                          
						</div>
						<br><br><br><br><br><br>

					</div>
					<div class="row">
						<div class="col-md-4"></div> <!--공백-->
					<div class="col-md-4">
					<ul class="pagination pagination-lg" style="margin-left: auto; margin-right: auto;">
						<li><a href="page-study-prepare">&laquo; 이전페이지</a></li>
						<li><a href="page-study-experiment">다음페이지 &raquo;</a></li>
					  </ul>
					</div>
					<div class="col-md-4"></div><!--공백-->
				</div>

</body>
</html>
